.Z1 {
    z-index: 1 !important;
}
.Z2 {
    z-index: 2 !important;
}
.Z3 {
    z-index: 3 !important;
}
.Z5 {
    z-index: 5 !important;
}
.Z10 {
    z-index: 10 !important;
}
.Z15 {
    z-index: 15 !important;
}
.Z20 {
    z-index: 20 !important;
}
.Z25 {
    z-index: 25 !important;
}
.Z30 {
    z-index: 25 !important;
}
.Z35 {
    z-index: 25 !important;
}
.Z70 {
    z-index: 70 !important;
}
.Z80 {
    z-index: 80 !important;
}
.Z90 {
    z-index: 90 !important;
}
.Z100 {
    z-index: 100 !important;
}
